################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UseCases/.vs/UseCases/FileContentIndex
/Domain/bin
/Domain/.vs
/Domain/.vs
/Infrastructure/obj
/Infrastructure/.vs
/Domain/obj
/Domain/bin
/Domain/.vs
