################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/[Bb]in/ 
/[Oo]bj/
/.vs/
/UseCases/.vs/
/Domain/bin
/Domain/.vs
/Domain/.vs
/Infrastructure/obj
/Infrastructure/.vs
/Domain/obj
/Domain/bin
/Domain/.vs
/Domain/obj
Domain/.vs/
Domain/bin/
Domain/obj/
Infrastructure/.vs/
Infrastructure/obj/
UseCases/.vs/
UseCases/bin/
UseCases/obj/
/Domain/.vs
/Domain/bin
/Domain/obj/Debug
/Infrastructure/.vs
/Infrastructure/bin
/Infrastructure/obj
/UseCases/.vs
/Domain/.vs
/Core/bin
Core/bin/
Core/obj/
Domain/.vs/
Core/bin/
Core/obj/
Domain/.vs/
/.vs
/UseCases/bin
WebApiCompose/bin/Debug/appsettings.Development.json
WebApiCompose/bin/Debug/appsettings.json
WebApiCompose/WebApiCompose/appsettings.Development.json
WebApiCompose/WebApiCompose/appsettings.json
WebApiCompose/WebApiCompose/bin/Debug/net8.0/appsettings.Development.json
WebApiCompose/WebApiCompose/bin/Debug/net8.0/appsettings.json
